<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826631103417-uc5f8ruhc8av1ncunkpufu9dpa1190ar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826631103417-uc5f8ruhc8av1ncunkpufu9dpa1190ar</string>
	<key>API_KEY</key>
	<string>AIzaSyCElcc6lJUN_7gRfFdVcrBGezZMmXVdeQo</string>
	<key>GCM_SENDER_ID</key>
	<string>826631103417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dayfi.test</string>
	<key>PROJECT_ID</key>
	<string>dayfi-39eb7</string>
	<key>STORAGE_BUCKET</key>
	<string>dayfi-39eb7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826631103417:ios:e39986f57dab2a965d4c68</string>
</dict>
</plist>